extends layout
block content
	h1= title
	p Welcome to #{title}
	h1= title
	a(href= url)= "Get Permissions"
	br

	form(name="input", action="/upload", enctype="multipart/form-data", method="post")
		input(type="file", name="upload", multiple="multiple")
		input(type="submit", value="Upload")
