extends layout
block content
	p Welcome to #{title}
	if authenticated != true 
		a(href= url)= "Get Permissions"
	else
		p Already authenticated
	br

	form(name="input", action="/upload", enctype="multipart/form-data", method="post")
		input(type="file", name="upload", multiple="multiple")
		input(type="submit", value="Upload")
