extends layout
block content
	h1 Welcome to #{title}
	h4 #{subtitle}
	br
	if (authenticated != true) 
		a(href= url)= "Please login with your Google Plus Profile"
	else
		p You are logged in as #{user}
	br