extends layout

block content
	if message
		p #{message}
	else
		form(name="input", action="/upload", enctype="multipart/form-data", method="post", role="form-horizontal")
			div(class="form-group")
				label(for="inputfile", class="col-sm2") #{title}:
				input(class="btn col-sm10" id="inputfile", type="file", name="upload", multiple="multiple")
				p(style="font-size: smaller")
					i make sure the width and height are 
						b at least 50px and not more than 1000px
			hr
			div(class="form-group")
				label(for="usage_restrictions", class="col-sm2") Set Usage Restrictions :
				p
					i(style="font-size: smaller") you can select more than one option clicking with the Command key (Mac) or the Control key (PC)
				div(class="col-sm6")
					select(multiple, class="form-control col-md-8", name="usage_restrictions", id="usage_restrictions")
						option(value='{ "label" : "No modification" , 		"url": "http://no-modifications" }') No modification
						option(value='{ "label" : "No sharing" , 			"url": "http://no-sharing" }') No sharing
						option(value='{ "label" : "No commercial uses" , 	"url": "http://no-commercial-uses" }') No commercial uses 
						option(value='{ "label" : "No text additions" , 	"url": "http://no-text-additions" }') No text additions
						option(value='{ "label" : "No downloading" , 		"url": "http://no-downloading" }') No downloading
			input(class="btn btn-primary", type="submit", value="Upload")
