extends layout

block content
	if message
		p #{message}
	else
		form(name="input", action="/upload", enctype="multipart/form-data", method="post", role="form-horizontal")
			div(class="form-group")
				label(for="inputfile", class="col-sm2") #{title}:
				input(class="btn col-sm10" id="inputfile", type="file", name="upload", multiple="multiple")
				p
					i Max size 500KB
			hr
			div(class="form-group")
				label(for="usage_restrictions", class="col-sm2") Set License(s) or Usage Restriction(s) :
				p
					i you can select more than one option clicking with the Command key (Mac) or the Control key (PC)
				div(class="col-sm6")
					select(multiple, class="form-control col-md-8", name="usage_restrictions", id="usage_restrictions")
						option(value='{ "label" : "Attribution" , 		"url": "http://creativecommons.org/licenses/by/4.0" }') Attribution
						option(value='{ "label" : "Attribution-ShareAlike" , 			"url": "https://creativecommons.org/licenses/by-sa/4.0" }') Attribution-ShareAlike
						option(value='{ "label" : "Attribution-NoDerivs" , 	"url": "https://creativecommons.org/licenses/by-nd/4.0" }') Attribution-NoDerivs 
						option(value='{ "label" : "Attribution-NonCommercial" , 	"url": "https://creativecommons.org/licenses/by-nc/4.0" }') Attribution-NonCommercial
						option(value='{ "label" : "Attribution-NonCommercial-ShareAlike" , 	"url": "https://creativecommons.org/licenses/by-nc/4.0" }') Attribution-NonCommercial-ShareAlike
						option(value='{ "label" : "Attribution-NonCommercial-NoDerivs" , 		"url": "https://creativecommons.org/licenses/by-nc-nd/4.0" }') Attribution-NonCommercial-NoDerivs
				p
				div
					i and/or you can enter your own usage restriction for this image
				div(class="col-sm12")
					div(style="font-size: smaller") 
						b(class="col-sm6") Label 
						input(class="col-sm6", style="font-size: small", type="text", name="custom_ur_label", value="")
						b(class="col-sm6") &nbsp;Link 
						input(class="col-sm6", style="font-size: small", type="text", name="custom_ur_link", size="50", value="")
						


			input(class="btn btn-primary", type="submit", value="Upload")